<a href="https://colab.research.google.com/github/vincentattafynn/Data-Science-Journey/blob/main/Machine%20Learning/Exploratory%20Data%20Analysis/Copy_of_A1_(demo)_Pandas_and_UCI_adult_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES
# TO THE CORRECT LOCATION (/kaggle/input) IN YOUR NOTEBOOK,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.

import os
import sys
from tempfile import NamedTemporaryFile
from urllib.request import urlopen
from urllib.parse import unquote, urlparse
from urllib.error import HTTPError
from zipfile import ZipFile
import tarfile
import shutil

CHUNK_SIZE = 40960
DATA_SOURCE_MAPPING = ':https%3A%2F%2Fstorage.googleapis.com%2Fkaggle-data-sets%2F32132%2F84415%2Fbundle%2Farchive.zip%3FX-Goog-Algorithm%3DGOOG4-RSA-SHA256%26X-Goog-Credential%3Dgcp-kaggle-com%2540kaggle-161607.iam.gserviceaccount.com%252F20240925%252Fauto%252Fstorage%252Fgoog4_request%26X-Goog-Date%3D20240925T224919Z%26X-Goog-Expires%3D259200%26X-Goog-SignedHeaders%3Dhost%26X-Goog-Signature%3Dcdb12bbc6c599ff2f5980ba205b97a369a6a460c727e4a78b601778186fccfe1dc5fea51c78e4206405c326912b0e5640fdeed64843ffb8d53bb3119a85febd70bd3e579492c7e3777387d3467bf80c7712f5c23ccf60d9ea8c9636caeb57d38dac99ebd3769d7314c2dfe88ba07669a2ceabc849c3dcd41b27978fb28feb52a8c7479b8fde3e20806fdae32ed3d1ef5b78581a60d509997c8314d840d6ff18edc26525aaf51c88e220f27ab536f1eb734b4f3cddcae41e0c103197eac73fea1da80decbf2142e77d2441e6935672ebddad7d39491062be8ba8bb48bd92b5dbfb550cbf07276cbe8f32adf7d969f42c1ebfeda6a4e5668bebad1c1e89e8ec0b5'

KAGGLE_INPUT_PATH='/kaggle/input'
KAGGLE_WORKING_PATH='/kaggle/working'
KAGGLE_SYMLINK='kaggle'

!umount /kaggle/input/ 2> /dev/null
shutil.rmtree('/kaggle/input', ignore_errors=True)
os.makedirs(KAGGLE_INPUT_PATH, 0o777, exist_ok=True)
os.makedirs(KAGGLE_WORKING_PATH, 0o777, exist_ok=True)

try:
  os.symlink(KAGGLE_INPUT_PATH, os.path.join("..", 'input'), target_is_directory=True)
except FileExistsError:
  pass
try:
  os.symlink(KAGGLE_WORKING_PATH, os.path.join("..", 'working'), target_is_directory=True)
except FileExistsError:
  pass

for data_source_mapping in DATA_SOURCE_MAPPING.split(','):
    directory, download_url_encoded = data_source_mapping.split(':')
    download_url = unquote(download_url_encoded)
    filename = urlparse(download_url).path
    destination_path = os.path.join(KAGGLE_INPUT_PATH, directory)
    try:
        with urlopen(download_url) as fileres, NamedTemporaryFile() as tfile:
            total_length = fileres.headers['content-length']
            print(f'Downloading {directory}, {total_length} bytes compressed')
            dl = 0
            data = fileres.read(CHUNK_SIZE)
            while len(data) > 0:
                dl += len(data)
                tfile.write(data)
                done = int(50 * dl / int(total_length))
                sys.stdout.write(f"\r[{'=' * done}{' ' * (50-done)}] {dl} bytes downloaded")
                sys.stdout.flush()
                data = fileres.read(CHUNK_SIZE)
            if filename.endswith('.zip'):
              with ZipFile(tfile) as zfile:
                zfile.extractall(destination_path)
            else:
              with tarfile.open(tfile.name) as tarfile:
                tarfile.extractall(destination_path)
            print(f'\nDownloaded and uncompressed: {directory}')
    except HTTPError as e:
        print(f'Failed to load (likely expired) {download_url} to path {destination_path}')
        continue
    except OSError as e:
        print(f'Failed to load {download_url} to path {destination_path}')
        continue

print('Data source import complete.')

Downloading , 53591260 bytes compressed
[==================================================] 53591260 bytes downloaded
Downloaded and uncompressed:
Data source import complete.

<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [6]:
# You code here
data["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [7]:
# You code here
print(data.groupby("sex")["age"].mean())

sex
Female    36.858230
Male      39.433547
Name: age, dtype: float64

**3. What is the percentage of German citizens (*native-country* feature)?**

In [8]:
# You code here
print((data["native-country"].value_counts()["Germany"]/len(data))* 100)

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [9]:
# You code here
above_50k = data.loc[data["salary"] == ">50K","age"]
below_50k = data.loc[data["salary"] == "<=50K", "age"]

print(f'The standard deviation for people who earn above 50k is {round(above_50k.std(),2)}, and the mean is {round(above_50k.mean(),2)}')

print(f'The standard deviation for people who earn above 50k is {round(below_50k.std(),2)}, and the mean is {round(below_50k.mean(),2)}')

The standard deviation for people who earn above 50k is 10.52, and the mean is 44.25
The standard deviation for people who earn above 50k is 14.02, and the mean is 36.78

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [10]:
# You code here
data[data["salary"] == ">50K"]["education"].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [11]:
# You code here
for (race, sex), sub_df in data.groupby(["race","sex"]):
  print(f'Race: {race} and Sex: {sex}')
  print(round(sub_df.describe(),2))

Race: Amer-Indian-Eskimo and Sex: Female
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  119.00     119.00         119.00        119.00        119.00
mean    37.12  112950.73           9.70        544.61         14.46
std     13.11   93207.97           2.33       2451.59        157.76
min     17.00   12285.00           2.00          0.00          0.00
25%     27.00   31387.00           9.00          0.00          0.00
50%     36.00   87950.00          10.00          0.00          0.00
75%     46.00  163027.50          11.00          0.00          0.00
max     80.00  445168.00          16.00      15024.00       1721.00

       hours-per-week
count          119.00
mean            36.58
std             11.05
min              4.00
25%             35.00
50%             40.00
75%             40.00
max             84.00
Race: Amer-Indian-Eskimo and Sex: Male
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  192.00     192.00         192.00        192.00        192.00
mean    37.21  125715.36           9.07        675.26         46.40
std     12.05   85063.25           2.27       2929.75        286.56
min     17.00   13769.00           2.00          0.00          0.00
25%     28.00   48197.75           9.00          0.00          0.00
50%     35.00  113091.00           9.00          0.00          0.00
75%     45.00  182656.00          10.00          0.00          0.00
max     82.00  356015.00          16.00      27828.00       1980.00

       hours-per-week
count           192.0
mean             42.2
std              11.6
min               3.0
25%              40.0
50%              40.0
75%              45.0
max              84.0
Race: Asian-Pac-Islander and Sex: Female
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  346.00     346.00         346.00        346.00        346.00
mean    35.09  147452.08          10.39        778.44         50.85
std     12.30   76401.63           2.80       7675.23        296.53
min     17.00   19914.00           1.00          0.00          0.00
25%     25.00   86879.25           9.00          0.00          0.00
50%     33.00  131986.00          10.00          0.00          0.00
75%     43.75  175705.75          13.00          0.00          0.00
max     75.00  379046.00          15.00      99999.00       2258.00

       hours-per-week
count          346.00
mean            37.44
std             12.48
min              1.00
25%             35.00
50%             40.00
75%             40.00
max             99.00
Race: Asian-Pac-Islander and Sex: Male
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  693.00     693.00         693.00        693.00        693.00
mean    39.07  166175.87          11.25       1827.81        120.37
std     12.88   88552.95           2.78      10947.53        472.92
min     18.00   14878.00           1.00          0.00          0.00
25%     29.00   98350.00           9.00          0.00          0.00
50%     37.00  147719.00          11.00          0.00          0.00
75%     46.00  200117.00          13.00          0.00          0.00
max     90.00  506329.00          16.00      99999.00       2457.00

       hours-per-week
count          693.00
mean            41.47
std             12.39
min              1.00
25%             40.00
50%             40.00
75%             45.00
max             99.00
Race: Black and Sex: Female
           age     fnlwgt  education-num  capital-gain  capital-loss  \
count  1555.00    1555.00        1555.00       1555.00       1555.00
mean     37.85  212971.39           9.55        516.59         45.45
std      12.64  109971.26           2.21       5312.75        299.10
min      17.00   19752.00           1.00          0.00          0.00
25%      28.00  142666.50           9.00          0.00          0.00
50%      37.00  193553.00           9.00          0.00          0.00
75%      46.00  253759.00          10.00          0.00          0.00
max      90.00  930948.00          16.00      99999.00       4356.00

       hours-per-week
count         1555.00
mean            36.83
std              9.42
min              2.00
25%             35.00
50%             40.00
75%             40.00
max             99.00
Race: Black and Sex: Male
           age      fnlwgt  education-num  capital-gain  capital-loss  \
count  1569.00     1569.00        1569.00       1569.00       1569.00
mean     37.68   242920.64           9.42        702.45         75.19
std      12.88   134145.97           2.38       4962.11        370.98
min      17.00    21856.00           1.00          0.00          0.00
25%      27.00   156410.00           9.00          0.00          0.00
50%      36.00   221196.00           9.00          0.00          0.00
75%      46.00   298601.00          10.00          0.00          0.00
max      90.00  1268339.00          16.00      99999.00       2824.00

       hours-per-week
count         1569.00
mean            40.00
std             10.91
min              1.00
25%             40.00
50%             40.00
75%             40.00
max             99.00
Race: Other and Sex: Female
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  109.00     109.00         109.00        109.00        109.00
mean    31.68  172519.64           8.90        254.67         36.28
std     11.63   77766.67           3.03       1317.33        231.80
min     17.00   24562.00           2.00          0.00          0.00
25%     23.00  119890.00           7.00          0.00          0.00
50%     29.00  171199.00           9.00          0.00          0.00
75%     39.00  219441.00          10.00          0.00          0.00
max     74.00  388741.00          14.00       7688.00       1740.00

       hours-per-week
count          109.00
mean            35.93
std             10.30
min              6.00
25%             30.00
50%             40.00
75%             40.00
max             65.00
Race: Other and Sex: Male
          age     fnlwgt  education-num  capital-gain  capital-loss  \
count  162.00     162.00         162.00        162.00        162.00
mean    34.65  213679.10           8.80       1392.19         77.75
std     11.36   92187.36           3.36      11093.71        370.99
min     17.00   25610.00           1.00          0.00          0.00
25%     26.00  150726.75           8.00          0.00          0.00
50%     32.00  208516.50           9.00          0.00          0.00
75%     42.00  253334.75          10.00          0.00          0.00
max     77.00  481175.00          16.00      99999.00       2179.00

       hours-per-week
count          162.00
mean            41.85
std             11.08
min              5.00
25%             40.00
50%             40.00
75%             40.00
max             98.00
Race: White and Sex: Female
           age      fnlwgt  education-num  capital-gain  capital-loss  \
count  8642.00     8642.00        8642.00       8642.00       8642.00
mean     36.81   183549.97          10.13        573.61         65.39
std      14.33   101710.29           2.37       4763.13        352.33
min      17.00    19395.00           1.00          0.00          0.00
25%      25.00   115914.75           9.00          0.00          0.00
50%      35.00   175810.50          10.00          0.00          0.00
75%      46.00   224836.50          12.00          0.00          0.00
max      90.00  1484705.00          16.00      99999.00       4356.00

       hours-per-week
count         8642.00
mean            36.30
std             12.19
min              1.00
25%             30.00
50%             40.00
75%             40.00
max             99.00
Race: White and Sex: Male
            age      fnlwgt  education-num  capital-gain  capital-loss  \
count  19174.00    19174.00       19174.00      19174.00      19174.00
mean      39.65   188987.39          10.14       1368.67        102.26
std       13.44   103714.60           2.66       8442.83        434.16
min       17.00    18827.00           1.00          0.00          0.00
25%       29.00   117381.00           9.00          0.00          0.00
50%       38.00   178662.50          10.00          0.00          0.00
75%       49.00   236858.75          13.00          0.00          0.00
max       90.00  1455435.00          16.00      99999.00       3770.00

       hours-per-week
count        19174.00
mean            42.67
std             12.19
min              1.00
25%             40.00
50%             40.00
75%             50.00
max             99.00

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [12]:
#married
data[(data["sex"] == "Male") & (data["marital-status"].str.startswith("Married"))]["salary"].value_counts(normalize=True)

salary
<=50K    0.559486
>50K     0.440514
Name: proportion, dtype: float64

In [13]:
data[(data["sex"] == "Male") & ~(data["marital-status"].str.startswith("Married"))]["salary"].value_counts(normalize=True)

salary
<=50K    0.915505
>50K     0.084495
Name: proportion, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [17]:
max_load = data["hours-per-week"].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data["hours-per-week"] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = (
    float(
        data[(data["hours-per-week"] == max_load) & (data["salary"] == ">50K")].shape[0]
    )
    / num_workaholics
)
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [18]:
for (country, salary), sub_df in data.groupby(["native-country", "salary"]):
  print(country, salary, round(sub_df["hours-per-week"].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5